/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');


/* Common/Utilities CSS Start */
body {
    font-family: 'Noto Sans JP', sans-serif;
    overflow-x: hidden;
}
.custom-bg-color{
    background-color: #264653;
}
.custom-bg-color-alt {
    background-color: #E76F51;
}
.custom-font-color {
    color: #E76F51;
}
.custom-font-weight-400 {
    font-weight: 400;
}
.custom-img-size {
    width: 500px;
    height: 400px;
}
.custom-width {
    width: 30%;
}
.custom-grayscale {
    filter: grayscale(90%);
}
.col:hover .custom-transition {
    transform: scale(0.9);
    transition: 1s ease-in;
}
.col:hover .custom-transition-alt {
    transform: scale(1.1);
    transition: 1s ease-in-out;
}
.custom-user-img {
    width: 190px;
}
.custom-img-faq-size {
    width: 430px;
    height: 420px;
}
.custom-width-alt {
    width: 90%;
}
.ms-n1 {
    margin-left: -7.1rem;
}
.ms-n1 {
    margin-top: -5px;
}
.custom-br-50 {
    border-radius: 0 50px 50px 0;
}
.custom-form-control {
    width: 65%;
    padding: 1rem;
    border-radius: 50px;
    outline: 0;
    border: 0;
}
/* Common/Utilities CSS End */